[submodule "adjective-service"]
	path = adjective-service
	url = git@github.com:rhoar-qcon-2018/adjective-service.git
[submodule "insult-service"]
	path = insult-service
	url = git@github.com:rhoar-qcon-2018/insult-service.git
[submodule "lab-infrastructure-as-code"]
	path = lab-infrastructure-as-code
	url = git@github.com:rhoar-qcon-2018/lab-infrastructure-as-code.git
[submodule "kafka-service"]
	path = kafka-service
	url = git@github.com:rhoar-qcon-2018/kafka-service.git
