[submodule "ui-service"]
	path = ui-service
	url = https://github.com/rhoar-qcon-2018/ui-service.git
[submodule "kafka-service"]
	path = kafka-service
	url = https://github.com/rhoar-qcon-2018/kafka-service.git
[submodule "adjective-service"]
	path = adjective-service
	url = https://github.com/rhoar-qcon-2018/reactive-k8s-adjective-service.git
[submodule "noun-service"]
	path = noun-service
	url = https://github.com/rhoar-qcon-2018/reactive-k8s-noun-service.git
[submodule "infrastructure-as-code"]
	path = infrastructure-as-code
	url = https://github.com/rhoar-qcon-2018/infrastructure-as-code.git
