<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository>${user.home}/.m2/repository</localRepository>
  <interactiveMode>true</interactiveMode>
  <usePluginRegistry>false</usePluginRegistry>
  <offline>false</offline>
    <profiles>
        <!-- Official JBoss Red Hat repository -->
        <profile>
        <repositories>
            <repository>
            <releases>
                <updatePolicy>never</updatePolicy>
            <enabled>true</enabled>
            </releases>
            <snapshots>
                <enabled>false</enabled>
                <updatePolicy>never</updatePolicy>
            </snapshots>
            <id>redhat-jboss-ga</id>
            <name>Red Hat JBoss Enterprise Maven Repository</name>
            <url>https://maven.repository.redhat.com/ga</url>
            </repository>
        </repositories>
        <pluginRepositories>
            <pluginRepository>
            <releases>
                <updatePolicy>never</updatePolicy>
            <enabled>true</enabled>
            </releases>
            <snapshots>
                <enabled>false</enabled>
                <updatePolicy>never</updatePolicy>
            </snapshots>
            <id>redhat-jboss-ga</id>
            <name>Red Hat JBoss Enterprise Maven Repository</name>
            <url>https://maven.repository.redhat.com/ga</url>
            </pluginRepository>
        </pluginRepositories>
        <id>redhat-jboss-ga</id>
        </profile>
        <!-- JBoss.org Repository -->
        <profile>
        <repositories>
            <repository>
            <releases>
                <updatePolicy>never</updatePolicy>
            </releases>
            <snapshots>
                <enabled>false</enabled>
                <updatePolicy>never</updatePolicy>
            </snapshots>
            <id>techpreview-all-repository</id>
            <name>Red Hat Enterprise Maven Repository</name>
            <url>http://maven.repository.redhat.com/techpreview/all/</url>
            </repository>
        </repositories>
        <pluginRepositories>
            <pluginRepository>
            <releases>
                <updatePolicy>never</updatePolicy>
            </releases>
            <snapshots>
                <enabled>false</enabled>
                <updatePolicy>never</updatePolicy>
            </snapshots>
            <id>techpreview-all-repository</id>
            <name>Red Hat Enterprise Maven Repository</name>
            <url>http://maven.repository.redhat.com/techpreview/all/</url>
            </pluginRepository>
        </pluginRepositories>
        <id>techpreview-all-repository</id>
        </profile>
        <profile>
            <repositories>
                <repository>
                <releases>
                    <updatePolicy>never</updatePolicy>
                <enabled>true</enabled>
                </releases>
                <snapshots>
                    <enabled>false</enabled>
                    <updatePolicy>never</updatePolicy>
                </snapshots>
                <id>jboss-org</id>
                <name>JBoss.org Repository</name>
                <url>https://repository.jboss.org</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                <releases>
                    <updatePolicy>never</updatePolicy>
                <enabled>true</enabled>
                </releases>
                <snapshots>
                    <enabled>false</enabled>
                    <updatePolicy>never</updatePolicy>
                </snapshots>
                <id>jboss-org</id>
                <name>JBoss.org Repository</name>
                <url>https://repository.jboss.org</url>
                </pluginRepository>
            </pluginRepositories>
            <id>jboss-org</id>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>redhat-jboss-ga</activeProfile>
        <activeProfile>techpreview-all-repository</activeProfile>
    </activeProfiles>
</settings>